    
    H3 {
      color:#D00D2D;
    }
    
    P {
      color:Black;
      font-size:60;
      
    }
    fieldset{
      border: 2px solid b;
    }
    body{
      background-image: url("http://www.publicdomainpictures.net/pictures/40000/velka/black-polka-dot-background.jpg");
     background-color: black;
    }

    form{
      width:300px;
      background-color: white;
    }
footer{
  color:#D00D2D;
}
    
#main {
  background-color: white;
  
  
}
#thetable, td, tr {
  background-color: white;
  border: 2px solid black;
  
}



