    
    H3 {
      color:#D00D2D;
    }
    
    P {
      color:Black;
      font-size:60;
      
    }
    fieldset{
      border: 2px solid darkblue;
    }
    body{
     background-color: lightgrey;
    }

    form{
      width:300px;
      background-color: white;
    }
footer{
  color:#D00D2D;
}
    


